[Unit]
Description=WARPER Traffic Snapshot Timer (every 5 min)

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=30s

[Install]
WantedBy=timers.target
